<!DOCTYPE html>
<html>
	<body>
		<h2>Le gossip <%= @gossip.title %> à été créé.</h2>

		<div class="form-group">
    		<%= link_to "Acceder à ton gossip", @gossip, class: "btn btn-lg btn-primary"%>
  		</div>
	</body>
</html>